@mixin generic-btn-primary($color, $background) {
    @warn "The mixin generic-btn-primary is deprecated. Please use CSS variables!";
    color: $color;
    background-color: whiten($background, .1);
    text-shadow: 1px 1px 0 blacken($background, .2);
}

@mixin generic-btn-secondary($color, $background) {
    @warn "The mixin generic-btn-secondary is deprecated. Please use CSS variables!";
    color: whiten($color, .1);
    border: 1px solid whiten($color, .1);
    background-color: $background;
    text-shadow: none;
}

%generic-btn-code {
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size-px) !important;
    font-size: var(--button-font-size-rem) !important;
    cursor: pointer;
    text-decoration: none !important;
    vertical-align: middle;
    outline: 0;
    overflow: visible;
    border: none;
    display: inline-block;
    line-height: var(--button-line-height);
    padding: 0 15px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    height: var(--button-height);

    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
    text-shadow: var(--button-primary-shadow);

    &.btn-secondary {
        color: var(--button-secondary-color);
        border: var(--button-secondary-border);
        background-color: var(--button-secondary-background);
        text-shadow: none;
        line-height: var(--button-secondary-line-height);
    }
    &.small {
        line-height: var(--button-small-line-height);
        height: var(--button-small-height);
        &.btn-secondary {
            line-height: var(--button-small-secondary-line-height);
        }
        [class^="icon-"], [class*=" icon-"] {
            font-size: var(--button-small-font-size-px);
            font-size: var(--button-small-font-size-rem);
        }
    }
    [class^="icon-"], [class*=" icon-"] {
        font: tao !important;
        font-family:tao;
        font-size: var(--button-font-size-px);
        font-size: var(--button-font-size-rem);
        line-height: 1;
        padding: 0 9px 0 0;
        position: relative;
        top: 1px;
        left: -1px;
        text-shadow: 0 1px 0 black(.1);
        &.r {
            padding: 0 0 0 9px;
        }
    }
    &:hover {
        opacity: .85;
    }
    &.btn-info {
        color: var(--button-primary-info-color);
        background-color: var(--button-primary-info-background);
        text-shadow: var(--button-primary-info-shadow);

        &.btn-secondary {
            color: var(--button-secondary-info-color);
            border: var(--button-secondary-info-border);
            background-color: var(--button-secondary-info-background);
            text-shadow: none;
        }
    }
    &.btn-error {
        color: var(--button-primary-error-color);
        background-color: var(--button-primary-error-background);
        text-shadow: var(--button-primary-error-shadow);

        &.btn-secondary {
            color: var(--button-secondary-error-color);
            border: var(--button-secondary-error-border);
            background-color: var(--button-secondary-error-background);
            text-shadow: none;
        }
    }

    &.btn-success {
        color: var(--button-primary-success-color);
        background-color: var(--button-primary-success-background);
        text-shadow: var(--button-primary-success-shadow);

        &.btn-secondary {
            color: var(--button-secondary-success-color);
            border: var(--button-secondary-success-border);
            background-color: var(--button-secondary-success-background);
            text-shadow: none;
        }
    }

    &.btn-warning {
        color: var(--button-primary-warning-color);
        background-color: var(--button-primary-warning-background);
        text-shadow: var(--button-primary-warning-shadow);

        &.btn-secondary {
            color: var(--button-secondary-warning-color);
            border: var(--button-secondary-warning-border);
            background-color: var(--button-secondary-warning-background);
            text-shadow: none;
        }
    }
}

// this construction was needed to avoid problems with extending this code elsewhere
[class^="btn-"], [class*=" btn-"], .btn-default,
button, input[type="submit"], input[type="reset"] {
    @extend %generic-btn-code;
}

/* todo move to main ? */
.disabled, button[disabled] {
    // !important is required here to overwrite any other inherited rule no matter the specificity,
    // as the disabled style must be consistent all across the stylesheet
    background-color: var(--button-disabled-background) !important;
    text-shadow: var(--button-disabled-shadow) !important;
    cursor: not-allowed !important;
    opacity: .55 !important;
    color: var(--button-disabled-color) !important;
    border: var(--button-disabled-border) !important;
}

// jquery ui
.ui-button {
    [class^="icon-"], [class*=" icon-"] {
        font-family: tao !important;
    }
}
