.secondary-props-list {
    position: relative;
    padding-left: 30px;

    > li {
        position: relative;
        list-style-type: none;
        margin-top: 10px;

        &:first-child {
            &::after {
                top: -10px;
            }
        }

        &:last-child {
            &::after {
                bottom: 50%;
            }
        }

        &::marker {
            color: #8C8C8C;
        }

        &::before {
            content: '';
            position: absolute;
            border-top: 1px solid #8C8C8C;
            top: 50%;
            left: -26px;
            width: 10px;
            margin-top: -1px;
        }

        &::after {
            content: '';
            position: absolute;
            border-left: 1px solid #8C8C8C;
            bottom: -5px;
            top: -5px;
            left: -26px;
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &.disabled {
                background: transparent!important;
            }

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                border: 1px solid #8C8C8C;
                position: absolute;
                left: -16px;
            }

            label {
                margin: 0;
            }

            select, .form_radlst {
                width: calc(65% + 20px);
            }

            .form_desc {
                width: calc(35% - 20px);
            }

            .form-error {
                width: 100%;
            }
        }
    }
}
