$sidebarWidth: 180;
$sidebarGutter: 0;
$toolbarHeight: 50;
$treeSidebar: 414;

// fonts
$fontPath : 'font/' !default;
$monospaceFont: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
$regularFont: 'Source Sans Pro', sans-serif;
$headingFont: 'Source Sans Pro', sans-serif;


%clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
