@import 'inc/bootstrap';

.destination-selector {
    position: relative;

    width: 400px;

    opacity: 0;
    &.rendered {
        opacity: 1;
        @include transition(opacity, 300ms, linear);
    }

    & > div {
        @include simple-border;
        background-color: $uiClickableDefaultBg;
        padding: 20px;
        position: relative;

        & > .section-title {
            font-weight: bold;
        }
    }

    .selector-container {
        position: relative;
    }

    .actions {
        margin-top: 30px;
        text-align: right;
    }
}
