@import "inc/bootstrap";

.bulk-action-popup{
    padding-bottom : 20px;
    h2.title {
        margin-top : 0;
        margin-bottom : 20px
    }
    .applicables, .no-applicables{
        max-height: 100px;
        overflow-y: auto;
        background: #DDD;
        padding-top: 5px;
        margin-bottom : 20px;
        .resource-label{
            padding : 6px 18px 0;
        }
        li:last-child .resource-label{
            padding-bottom : 6px;
        }
    }
    .categories{
        margin-bottom : 10px;
    }
    .comment{
        textarea{
            height : 80px;
            width: 100%;
            max-width : none;
        }
    }
    .cascading-combo-box{
        .select2-container{
            margin-right : 10px;
        }
    }
    .actions{
        margin-top : 20px;
        .btn{
            float:right;
            margin-left:20px;
            &.cancel{
                position:relative;
                top:3px;
            }
        }
    }
    .single .resource-label{
        font-weight : bold;
    }
    .multiple .resource-count{
        font-weight : bold;
    }

    .message{
        display: flex;
        align-items: center;
        .icon{
            float: left;
            font-size: 40px;
            margin-right: 10px;
        }
    }
}