@import 'inc/bootstrap';

$invalidCriteriaBackground: #cfdfe9;
$invalidCriteriaBorder: #266d9c;

.advanced-search-container {
    margin-top: 16px;
    .add-criteria-container {
        margin-top: 16px;
        padding-right: 20px;
        position: relative;
        .icon-add {
            @include font-size(16);
            position: relative;
            top: 2px;
            left: 2px;
            color: $info;
            padding-right: 8px
        }
        a {
            text-decoration: none;
        }
        .criteria-select2 {
            visibility: hidden;
            position: absolute;
            left: 0;
            width: 70%;
        }
        &.disabled {
            display: none;
        }
    }
    .advanced-criteria-container {
        padding-top: 16px;
        overflow-y: auto;
        padding-right: 20px;
        max-height: 72vh;
        .filter-container {
            margin-bottom: 30px;
            .icon-result-nok {
                right: 0;
                top: 2px;
                cursor: pointer;
                position: absolute;
            }
            &[data-type='text'] {
                input {
                    padding-left: 4px;
                }
            }
            &[data-type='list'] {
                .select2-container {
                    width: 100%;
                }
                ul {
                    list-style: none;
                    padding-left: 0;
                }
                input[type='checkbox'] {
                    width: initial;
                }
            }
        }
        .invalid-criteria-warning-container {
            background-color: $invalidCriteriaBackground;
            border: 1px solid $invalidCriteriaBorder;
            padding: 10px;
            p {
                margin-bottom: 0;
            }
            ul {
                list-style: none;
                font-weight: bolder;
                padding-left: 0;
            }
        }
        &.scrollable {
            padding-right: 10px;
        }
        &.scroll-separator-top {
            border-top: 1px solid $uiGeneralContentBorder;
        }
        &.scroll-separator-bottom {
            border-bottom: 1px solid $uiGeneralContentBorder;
        }
    }
}

// select2 appends dropdown options directly to body, so need a custom class to isolate custom styles
.criteria-dropdown-select2 {
    border: 1px solid $uiGeneralContentBorder;
    box-shadow: $uiGeneralContentBorder 1px 1px 1px;
    input {
        min-width: initial;
        background-image: initial;
    }
}
