.search-modal {
    h1 {
        color: red;
    }
}

.modal-close-left {
    position: absolute;
    left: 12px;
    top: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #222 !important;
    background-color: transparent;
    padding: 0;
    height: 20px;

    .icon-close {
        font-size: 2rem
    }
}